	/*=============================chart css======================================*/
	#donut-chart {
	  max-width: 300px;
	  margin: 200px auto;
	}

	.inner-content {
	  position: absolute;
	  top: 53%;
	  left: 50%;
	  width: 100px;
	  height: 100px;
	  margin-top: -50px;
	  margin-left: -50px;
	  font-size: 16px;
	  line-height: 100px;
	  vertical-align: middle;
	  text-align: center;
	  color: #000;
	}
	/*===================================================================*/
	.box1 {
	    background-color: #ABEBC6;
	    width: 130px;
	    /* border: 5px solid green; */
	    margin: 6px;
	    text-align: center;
	    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
	}
	.cardbox{margin-bottom: 0.2rem !important;    width: 76%;}
	.otherp{
	    border: 1px solid #ccc;
	    width: 160px;
	    text-align: center;
	    padding: 3px 0;
	    box-shadow: -10px 10px 5px rgba(0,0,0,0.6);
	    -moz-box-shadow: -10px 10px 5px rgba(0,0,0,0.6);
	    -webkit-box-shadow: -5px 5px 1px rgba(0,0,0,0.6);
	    -o-box-shadow: -10px 10px 5px rgba(0,0,0,0.6);
	}

	/*========================== bar chart =========================================*/

		.verticalChart {
		  width: 100%;
		}
		.verticalChart .singleBar {
		  width: 26%;
		  float: left;
		  margin-left: 15.5%;
		}
		.verticalChart .singleBar .bar {
		  position: relative;
		  height: 150px;
		  background: #bbb;
		  overflow: hidden;
		}
		.verticalChart .singleBar .bar .value {
		  position: absolute;
		  bottom: 0;
		  width: 60%;
	      margin-left: 18%;
		  background: #1C2833;
		  color: #ffffff;
		}
		.verticalChart .singleBar .bar .value span {
		  position: absolute;
		  font-size: 12px;
		  bottom: 0;
		  width: 100%;
		  height: 20px;
		  color: #ffffff;
		  display: none;
		  text-align: center;
		}
		.verticalChart .singleBar .title {
		  margin-top: 5px;
		  text-align: center;
		  color: #000;
		      width: 70px;
		}